<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/plugins/Pages/default/styles/reset.css" />
        <link rel="stylesheet/less" type="text/css" href="/plugins/Pages/default/styles/defaults.less" />
    </head>
    
    <body>
        {{{content}}}
        
        <script type="text/javascript" src="/plugins/Pages/default/less.js"></script>
    </body>
</html>
