<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet/less" type="text/css" href="/styles/defaults.less" />
    </head>
    
    <body>
        {{{content}}}
        
        <script type="text/javascript" src="/javascript/less.min.js"></script>
    </body>
</html>
